eureka:
  client:
    enabled: true

    serviceUrl:
      # Dans docker, hostname = nom du service
      defaultZone: ${EUREKA_URI:http://localhost:8761/eureka}
  instance:
    preferIpAddress: true

